<a class="logo" href="/main_page.html">antishelkon.ru</a>
<div class="navigation">
    <a class = "nav documents_nav unlogged">Documents</a>
    <a class = "nav" href="">Header2</a>
    <a class = "nav" href="" class="popup_link">Header3</a>
</div>
<a id="btn" class="loginbtn lock_padding lock_short_page popup_link unlogged">
    <ion-icon name="person-circle-outline" style="width: inherit; height: inherit; color: white;"></ion-icon>
</a>
<div class="popup" id="login_popup">
    <div class="popup_body">
        <div class="popup_content login_popup_content">
            <a href="#header" class="popup_close close_popup">
                <ion-icon name="close-circle-outline" style="height: 40px; width: 40px;"></ion-icon>
            </a>
            <div class="login_popup_title">
                Log in
            </div>
            <div class="login_popup_text">
                Электронная почта или логин
            </div>
            <input class="login_input_field" type="text">
            <div class="login_popup_text">
                Пароль
            </div>
            <input class="password_input_field" type="password">
            <a class="forgot_pass" href="">Забыли пароль?</a>
            <div class="login_error_text">
                Error
            </div>
            <a class="no_account popup_link" href="#register_popup">Еще нет аккаунта?</a>
            <button class="login_enter_button">
                <p>
                    Войти
                </p>
            </button>
        </div>
    </div>
</div>
<div class="popup" id="register_popup">
    <div class="popup_body">
        <div class="popup_content register_popup_content">
            <a href="#header" class="popup_close close_popup">
                <ion-icon name="close-circle-outline" style="height: 40px; width: 40px;"></ion-icon>
            </a>
            <div class="register_popup_title">
                Register
            </div>
            <div class="login_popup_text">
                Логин
            </div>
            <input class="login_input_field" type="text">
            <div class="login_popup_text">
                Электронная почта
            </div>
            <input class="email_input_field" type="text">
            <div class="login_popup_text">
                Пароль
            </div>
            <input class="password_input_field" type="password">
            <div class="login_popup_text">
                Повторите пароль
            </div>
            <input class="repeat_password_input_field" type="password">
            <div class="error_register_text">
                Error
            </div>
            <button class="register_button">
                <p>
                    Зарегистрироваться
                </p>
            </button>
        </div>
    </div>
</div>